{% extends '../base.html' %} {% block title %} The WeatherMan Project | Home {% endblock title %} {% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"> {% load static %}
<link rel="stylesheet" href="{% static 'style/home.css' %}"> {% endblock head %} {% block content %}

<h1>Home</h1>

<form action="{% url 'details' %}" onsubmit="return redirectOnFormSubmit(this);">
    {% csrf_token %}
    <input type="text" name="search_input" id="search_input">
    <input type="submit" value="Check Weather">
</form>

{% endblock content %} {% block script %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6ZPAUxOjNUjddtc39r-w-zuaAOLQlCbc&libraries=places"></script>
<script>
    $(document).ready(function() {
        var autocomplete;

        autocomplete = new google.maps.places.Autocomplete((document.getElementById("search_input")), {
            types: ['geocode']
        });

        google.maps.event.addListener(autocomplete, 'place_changed', function() {
            var place = autocomplete.getPlace();
        });
    });

    function redirectOnFormSubmit() {
        const url = "{% url 'details' %}";

        var data = {
            'Location': document.getElementById('search_input').innerHTML
        };
        $.get(url, data);
    }
</script>
{% endblock script %}