{% extends '../base.html' %} {% block title %} The WeatherMan Project | Detail {% endblock title %} {% block head %} {% load static %}
<link rel="stylesheet" href="{% static 'style/detail.css' %}"> {% endblock head %} {% block content %}
<h4 class="text-muted">Location: {{location}}</h4>

<div class="jumbotron">
    <h2><u>
        Today's Weather
    </u></h2>
    <br>
    <img src="{{curr_icon}}">
    <h3> Current Temperature: {{curr_temp}} C</h3>
    <h3> Humidity: {{curr_humidity}} %</h3>
    <h3> Precipitation: {{curr_precipitation}} mm</h3>
</div>

<div class="row pt-2 pb-2 pl-2 pr-2" align="center">
    {% for data in forecast %}
    <div class="card jumbotron pt-1 pb-2 pl-1 pr-1" style="width: 20rem; margin: 8px;">
        <div class="card-body">
            <h5 class="card-title"><u> {{data.1}} Forecast </u></h5>
            <span>
		<img src="{{data.0.4}}" style="width: 50px">
	</span>
            <br> Maximum Temperature: {{data.0.0}} C
            <br> Minimum Temperature: {{data.0.1}} C
            <br> Humidity: {{data.0.2}} %
            <br> Precipitation: {{data.0.3}} mm
        </div>
    </div>
    {% endfor %}
</div>

<canvas id="tempChart"></canvas>
<canvas id="precipChart"></canvas>
<canvas id="humidChart"></canvas> {% endblock content %} {% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script>
    // TEMPERATURE GRAPH
    var chart_temperature = document.getElementById('tempChart').getContext('2d');
    var chart = new Chart(chart_temperature, {
        type: 'line',

        data: {
            labels: {{days | safe}},
            datasets: [{
                label: 'Maximum Temperature',
                backgroundColor: 'rgba(255, 255, 255, 0)',
                borderColor: 'rgba(255, 0, 0, 0.9)',
                data: {{temp_high | safe}}
            }, {
                label: 'Minimum Temperature',
                backgroundColor: 'rgba(255, 255, 255, 0)',
                borderColor: 'rgba(255, 150,0,0.9)',
                data: {{temp_low | safe}}
            }]
        },

        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        max: 50,
                        min: 0,
                        stepSize: 10
                    }
                }]
            }
        }
    });

    // PRECIPITATION GRAPH
    var chart_precipitation = document.getElementById('precipChart').getContext('2d');
    var chart = new Chart(chart_precipitation, {
        type: 'line',

        data: {
            labels: {{days | safe}},
            datasets: [{
                label: 'Precipitation',
                backgroundColor: 'rgba(255, 255, 255, 0)',
                borderColor: 'rgb(100, 100, 255)',
                data: {{precipitation | safe}}
            }]
        },

        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        max: 200,
                        min: 0,
                        stepSize: 40
                    }
                }]
            }
        }
    });

    // HUMIDITY GRAPH
    var chart_humidity = document.getElementById('humidChart').getContext('2d');
    var chart = new Chart(chart_humidity, {
        type: 'line',

        data: {
            labels: {{days | safe}},
            datasets: [{
                label: 'Humidity',
                backgroundColor: 'rgba(255, 255, 255, 0)',
                borderColor: 'rgba(0, 100, 0, 0.9)',
                data: {{humidity | safe}}
            }]
        },

        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        max: 100,
                        min: 0,
                        stepSize: 20
                    }
                }]
            }
        }
    });
</script>
{% endblock script %}